# Makefile for liblang_tools_protocol
# Copyright (C) 2014 Sergey Kolevatov

###################################################################

VER = 0

APP_PROJECT := example

APP_THIRDPARTY_LIBS =

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
	lang_tools \
	basic_parser \
	generic_request \
	utils \
